body{
  background-color:#c19a6b;
  font-family: 'Quicksand', sans-serif;
}

jumbotron{
  display: flex;
  align-items: center;
  color:#fdfefe;
}
section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#x{
  padding-left: 25%;
}
#Pages{
  margin-left: 5%;
}
#Summary{
  padding-top: 25px;
  padding-bottom: 50px;
}
#recipes{
  border-style: hidden;
  border-width: thin;
  background-color:#f9423a;
}
#Our{
  color:#ffffff;
}
#social{
  margin-left: 90px;
  padding-left: 15px;
}
h3{
  border-style:hidden;
  border-width:2px;
  background-color:#000000;
  color:#ffffff;
}
h6{
  color: white;
}
p{
  color: white;
}
footer{
  background-color: black;
  margin-top: 100px;
}
