body{
  background-color:#c19a6b;
  font-family: 'Quicksand', sans-serif;
}

jumbotron{
  display: flex;
  align-items: center;
  background-image: url("https://free-images.com/md/ec08/macaroni_mac_cheese_cheese.jpg")
  color:#fdfefe;
}

section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h6{
  color: white;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

p{
  color: white;
  border-style: solid;
  border-width:thin;
  border-color: black;
}
#mac{
  background: url("https://free-images.com/md/fb46/mac_cheese_mac_macaroni.jpg");
}

#garlic{
  background: url("https://free-images.com/md/3333/pasta_orichetti_pasta_broccoli.jpg");
}

#Cheesy{
  background: url("https://free-images.com/md/df31/fussilini_cheese_baked_pasta.jpg");
}

#Baked{
  background: url("https://free-images.com/md/acd6/mac_cheese_pasta_food.jpg");
}

#Cacio{
  background: url("https://upload.wikimedia.org/wikipedia/commons/7/78/Pici.jpg");
}

#Four{
  background: url("https://free-images.com/md/4ef1/pasta_noodles_italian_dinner.jpg");
}

#Vegetarian{
  background: url("https://free-images.com/md/f9fe/lasagna_food_dinner_lunch.jpg");
}

#Alfredo{
  background: url("https://free-images.com/md/6428/grilled_chicken_with_pasta.jpg");
  background-repeat: no-repeat;
  bakground-size: auto;
}

#Carbonara{
  background: url("https://free-images.com/md/6511/spaghetti_carbonara_bacon_onions.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
