body{
  background-color: #f5f5f5;
  font-family: 'Noto Sans', sans-serif;
}

jumbotron{
  display: flex;
  align-items: left;
}

section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
